<script src="https://maps.googleapis.com/maps/api/js?v=3.11&sensor=false" type="text/javascript"></script>

<div class="container">
  <div id="map_canvas" style="width: 800px; height:500px;">
  </div>
</div>